body {
    font-size: 18px;
    font-family: Garamond, Georgia, Times, serif;
    color: #2b2d42;
    background-color: #d9d9d9;
    margin: 15px;
    padding: 0;
    text-align: justify;
}

p {
    margin: 10px;
    padding: 0;
}